#### LISTS IN PYTHON
:-Build in datatype that stores set of values in it.
:-It can store different datatypes in it

In [1]:
marks=[23,34,45,56,7,65,45,34,6723,23,56,78,22]
print(type(marks))

<class 'list'>

In [2]:
print(marks)

[23, 34, 45, 56, 7, 65, 45, 34, 6723, 23, 56, 78, 22]

In [4]:
print(marks[0])
print(marks[1])

23
34

In [68]:
details=["Kunnal","Khambayat",7,2004,21,"Dilip"]
print(details)
print(details[3])
details[3]="Analyst"
print(details)

#append is too add a value in last of the list
details.append(67)
print(details)


# Sort is use to arrange list into assending order 
w=[23,34,45,65,7,98,9,65,23,123,4,65,7,89,90]
w.sort()
print(w)

# todo the same thing in reverse we use sort(reverse = True)
w.sort(reverse = True)
print(w)

#reverse is used to make list reverse
r=["a","b","c","d","e"]
r.reverse()
print(r)

#Insert is used at values at a particular place
i=[23,34,67,78,9,76,89]
i.insert(1,77)
i.pop(0) # Delete value from particular places
print(i)
i.remove(9)
print(i)

['Kunnal', 'Khambayat', 7, 2004, 21, 'Dilip']
2004
['Kunnal', 'Khambayat', 7, 'Analyst', 21, 'Dilip']
['Kunnal', 'Khambayat', 7, 'Analyst', 21, 'Dilip', 67]
[4, 7, 7, 9, 23, 23, 34, 45, 65, 65, 65, 89, 90, 98, 123]
[123, 98, 90, 89, 65, 65, 65, 45, 34, 23, 23, 9, 7, 7, 4]
['e', 'd', 'c', 'b', 'a']
[77, 34, 67, 78, 9, 76, 89]
[77, 34, 67, 78, 76, 89]

## TUPLE

In [31]:
#This are the same inbuild datatype are list but it is immuteable

tup=("Kunal","Dilip",77,77,77)
tup.index("Dilip") #Provides the index value 
tup.count(77)  #provides how many time this has occour in list

3

In [35]:
##  EXERSISE

In [37]:
movies=[]
movies.append(input("Enter 1st movie name"))
movies.append(input("Enter 2nd movie name"))
movies.append(input("Enter 3rd movie name"))
movies.append(input("Enter 4th movie name"))
print(movies)

Enter 1st movie name rrr
Enter 2nd movie name pk
Enter 3rd movie name one
Enter 4th movie name tarzan

['rrr', 'pk', 'one', 'tarzan']

In [40]:
r=2
t=33
print(r+t)
print(r%t)

35
2

In [41]:
k=input("Enter Something")
print(type(k))

Enter Something 34

<class 'str'>

In [42]:
a=34
b=80
print(a>b)

False

In [43]:
w=int(input("Enter your no..."))
o=int(input("Enter your 2nd no..."))
y=(w+o)/2
print(y)

Enter your no... 40
Enter your 2nd no... 40

40.0

In [45]:
s=int(input("Enter no.. to find square"))
h=s*s
print(h)

Enter no.. to find square 25

625

In [61]:
# target="Hello Everyone present here"
# print(target[-18:-1])
# print(target.endswith("ere"))
# print(target.startswith("Hell"))
# print(target.capitalize())
# print(target.find("here"))
# print(target.replace("here","there"))

In [62]:
# goo=input("Enter your name plzzz!!!!!")
# print("Good Morning ",goo)

In [63]:
# name=input("Enter your name here")
# date=(input("E nter Date here"))
# print(f'''HEllo {name} 
#         you are selected
#         {date}''')