In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df=pd.read_excel("Employee Sample Data.xlsx")
df.head()

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,2016-04-08,141604,0.15,United States,Seattle,2021-10-16
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,1997-11-29,99975,0.00,China,Chongqing,NaT
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,2006-10-26,163099,0.20,United States,Chicago,NaT
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,2019-09-27,84913,0.07,United States,Chicago,NaT
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,1995-11-20,95409,0.00,United States,Phoenix,NaT

In [10]:
df.isnull().sum().sum()

np.int64(915)

In [1]:
df["Exit Date"]

NameError: name 'df' is not defined

In [17]:
df["Exit Date"] = df["Exit Date"].fillna(df["Exit Date"].mean())
# gf["Ranking"]=gf["Ranking"].fillna(gf["Ranking"].mean())
df.head()

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,2016-04-08,141604,0.15,United States,Seattle,2021-10-16 00:00:00.000000000
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,1997-11-29,99975,0.00,China,Chongqing,2016-11-02 18:04:14.117647104
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,2006-10-26,163099,0.20,United States,Chicago,2016-11-02 18:04:14.117647104
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,2019-09-27,84913,0.07,United States,Chicago,2016-11-02 18:04:14.117647104
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,1995-11-20,95409,0.00,United States,Phoenix,2016-11-02 18:04:14.117647104

In [20]:
df.isnull().sum().sum()

np.int64(0)

In [23]:
df.duplicated().sum()

np.int64(0)

In [26]:
df["Annual Salary"]
gf=sum(df["Annual Salary"])/len(df["Annual Salary"])
print(gf)

113217.365

In [28]:
print(df["Annual Salary"].mean())
print(df["Annual Salary"].median())
print(df["Annual Salary"].mode())

113217.365
96557.0
0     70165
1    146140
2    157057
3    177443
Name: Annual Salary, dtype: int64

In [29]:
print(df["Annual Salary"].var())

2867172578.5843596

In [30]:
print(df["Annual Salary"].std())

53545.98564397111

In [33]:
print(np.percentile(df["Annual Salary"],25))
print(np.percentile(df["Annual Salary"],50))
print(np.percentile(df["Annual Salary"],75))
print(np.percentile(df["Annual Salary"],100))

71430.25
96557.0
150782.25
258498.0

In [35]:
print(df["Annual Salary"].quantile(.25))
print(df["Annual Salary"].quantile(.50))
print(df["Annual Salary"].quantile(.75))
print(df["Annual Salary"].quantile(1))

71430.25
96557.0
150782.25
258498.0